body{
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    height: 50px;
    border-radius: 10px;
}

p{
    color: black;
    font-size: 20px;
}

button{
    width: 150px;
    height: 40px;
    background-color: green;
    color: white;
}