body{
    background: linear-gradient(blue, cyan);
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

img{
    width: 230px;
    border-radius: 10px;
}

.central{
    background-color: white;
    width: fit-content;
    padding: 20px;
    border-radius: 20px;
    align-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
}

.central button{
    background-color: black;
    color: white;
    width: 150px;
    cursor: pointer;
}

.p{
    flex: 2;
    margin-left: 30px;
    color: black;
}